<div class="contact-box pl-branch">
    <h3 class="headequarters-title">{{'_HEADQUARTERS_' | trans}}</h3>
    <div class="contact-data-box">
        <div class="contact-sub-box">
            <div class="sub-box-left"><p class="contact-box-label">{{'_CONTACT_ADDRESS_' | trans}}</p></div>
            <div class="sub-box-right"><p class="contact-address-paragraph">Żydowska 1, <span>61-761 Poznań</span></p></div>
        </div>
        <div class="contact-sub-box">
            <div class="sub-box-right"><p class="contact-address-paragraph"><p class="see-location" id="toogle-poznan-location"><span class="see-location-icon"></span>{{'_SEE_LOCATION_' | trans}}</p></div>
        </div>
        <div class="contact-sub-box">
            <div class="sub-box-left"><p class="contact-box-label">{{'_CONTACT_PHONE_' | trans}}</p></div>
            <div class="sub-box-right"><p class="contact-phone-paragraph">+48 61 281 73 49</p></div>
        </div>
        <div class="contact-sub-box">
            <div class="sub-box-left"><p class="contact-box-label">{{'_CONTACT_EMAIL_' | trans}}</p></div>
            <div class="sub-box-right"><a class="contact-address-mail-link" href="mailto:hello@advox.pl">hello@advox.pl</a></div>
        </div>
        <div class="both-clear"></div>
    </div>
    <div class="contact-persons-container">
        <div class="contact-persons-block">
            <div class="contact-person-box">
                <img src="/images/persons/rafal.jpg" alt="Advox Contact Person Image"/>
                <div class="contact-persons-paragraphs-box">
                    <p class="contact-person-name-title">RAFAŁ GADOMSKI</p>
                    <p class="contact-person-position-title">{{'_CONTACT_GENERALMANAGER_' | trans}}</p>
                    <p class="contact-person-cellular-phone">+48 503 193 554</p>
                    <p class="contact-person-contact-mail">rafal@advox.pl</p>
                </div>
            </div>
        </div>
        <div class="contact-persons-block">
            <div class="contact-person-box">
                <img src="/images/persons/michal.png" alt="Advox COntact Person Image"/>
                <div class="contact-persons-paragraphs-box">
                    <p class="contact-person-name-title">MICHAŁ STANIUL</p>
                    <p class="contact-person-position-title">{{'_CONTACT_COOPERATIONANDMEDIA_' | trans}}</p>
                    <p class="contact-person-cellular-phone">+48 536 193 554</p>
                    <p class="contact-person-contact-mail">m.staniul@advox.pl</p>
                </div>
            </div>
            <div class="both-clear"></div>
        </div>
        <div class="both-clear"></div>
    </div>
    <div class="both-clear"></div>
</div> 