<div class="contact-box uk-branch">
    <h3 class="headequarters-title">{{'_HEADQUARTERS_' | trans}}</h3>
    <div class="contact-data-box">
        <div class="contact-sub-box">
            <div class="sub-box-left"><p class="contact-box-label">{{'_CONTACT_ADDRESS_' | trans}}</p></div>
            <div class="sub-box-right"><p class="contact-address-paragraph">Second Floor, TechHub <br>@ Google Campus <br>4-5 Bonhill Street,<span><br>EC2A 4BX London</span></p></div>
        </div>
        <div class="contact-sub-box">
            <div class="sub-box-right"><p class="contact-address-paragraph"><p class="see-location" id="toogle-london-location"><span class="see-location-icon"></span>{{'_SEE_LOCATION_' | trans}}</p></div>
        </div>
        <div class="contact-sub-box">
            <div class="sub-box-left"><p class="contact-box-label">{{'_CONTACT_PHONE_' | trans}}</p></div>
            <div class="sub-box-right"><p class="contact-phone-paragraph">+44 (0) 77 1594 8656</p></div>
        </div>
        <div class="contact-sub-box">
            <div class="sub-box-left"><p class="contact-box-label">{{'_CONTACT_EMAIL_' | trans}}</p></div>
            <div class="sub-box-right"><a class="contact-address-mail-link" href="mailto:hello@advoxstudio.co.uk">hello@advoxstudio.co.uk</a></div>
        </div>
        <div class="both-clear"></div>
    </div>
    <div class="contact-persons-container">
        <div class="contact-persons-block">
            <div class="contact-person-box">
                <img src="/images/persons/ravi.jpg" alt="Advox Contact Person Image"/>
                <div class="contact-persons-paragraphs-box">
                    <p class="contact-person-name-title">RAVI SHARMA</p>
                    <p class="contact-person-position-title">{{'_COUNTRY_MANAGER_' | trans}}</p>
                    <p class="contact-person-cellular-phone">+44 (0) 77 1594 8656</p>
                    <p class="contact-person-contact-mail">ravi@advoxstudio.co.uk</p>
                </div>
            </div>
        </div>
        <div class="contact-persons-block">
            <div class="contact-person-box">
                <img src="/images/persons/rafal.jpg" alt="Advox Contact Person Image"/>
                <div class="contact-persons-paragraphs-box">
                    <p class="contact-person-name-title">RAFAŁ GADOMSKI</p>
                    <p class="contact-person-position-title">{{'_CONTACT_GENERALMANAGER_' | trans}}</p>
                    <p class="contact-person-cellular-phone">+48 503 193 554</p>
                    <p class="contact-person-contact-mail">rafal@advox.pl</p>
                </div>
            </div>
            <div class="both-clear"></div>
        </div>
        <div class="both-clear"></div>
    </div>
    <div class="both-clear"></div>
</div>