{% extends 'layout/base.html.twig' %}
{% block title %}{{'_PROJECTORGRAN_META_TITLE_' | trans}}{% endblock %}
{% block keywords %}{{'_PROJECTORGRAN_META_KEYWORDS_' | trans}}{% endblock %}
{% block description %}{{'_PROJECTORGRAN_META_DESCRIPTION_' | trans}}{% endblock %}
{% block body %}
<div id="orgran" class="main-content-wrapper jsScrollToSection">
    <!-- section top  -->
    <section class="top-single-project-section">
        <div class="content-container-static">
            <h5 class="category-headers" data-aos="fade-right" data-aos-duration="500" data-aos-delay="300">{{'_PROJECT_HEADER_CATEGORY_MAIN_' | trans}}</h5>
            <h3 class="title-single-project" data-aos="fade-right" data-aos-duration="500" data-aos-delay="600">{{'_ORGRAN_PROJECT_MAIN_TITLE_' | trans}}</h3>
            <div class="info-description-floats" data-aos="fade-right" data-aos-duration="500" data-aos-delay="900">
                <div class="info-description-floats-left">
                    <h5 class="category-headers inf-url-scope">{{'_INFO_SINGLE_PROJECT_' | trans}}</h5>
                    <p class="main-paragraph">{{'_INFO_DESCRIPTION_SINGLE_PROJECT_ORGRAN_' | trans}}</p>
                </div>
                <div class="info-description-floats-right">
                    <div>
                        <h5 class="category-headers inf-url-scope">{{'_WEBSITE_SINGLE_PROJECT_' | trans}}:</h5>
                        <a href="http://orgran.com.pl" target="_blank" rel="nofollow">orgran.com.pl</a>
                    </div>
                    <div>
                        <h5 class="category-headers inf-url-scope">{{'_SCOPE_SINGLE_PROJECT_' | trans}}:</h5>
                        <p class="main-paragraph category-paragraph">Visual design, UX design, Development</p>
                    </div>
                </div>
                <div class="info-description-floats-right platform-image-container">
                    <div>
                        <h5 class="category-headers inf-url-scope">{{'_PLATFORM_' | trans}}:</h5>
                        <div class="platform-image">
                            <img src="/images/joomla.png" alt="{{'_ORGRAN_PROJECT_IMAGE_1_ALT_' | trans}}"/>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="both-clear"></div>
            <div id="mac-projects" data-aos="fade-up" data-aos-duration="500" data-aos-delay="1200"></div>
        </div>
    </section>
    <!-- top second section -->
    <section class="top-second-section">
        <div class="content-container-static">
            <h3>{{'_APPROACHABLE_CATEGORY_VIEW' | trans}}</h3>
            <div id="image-of-categories" data-aos="fade-up" data-aos-duration="700"></div>
        </div>
    </section>
    <!-- responsive showcase -->
    <section class="responsive-showcase-section">
        <div class="content-container-static">
            <h3 data-aos="fade-right" data-aos-anchor=".responsive-showcase-section" data-aos-duration="500">{{'_VERSION_FULLY_' | trans}}<br><span>{{'_RESPONSIVE_' | trans}}</span></h3>
            <p class="main-paragraph" data-aos="fade-right" data-aos-anchor=".responsive-showcase-section" data-aos-duration="500" data-aos-delay="500">{{'_VERSION_FULLY_DESCRIPTION_' | trans}}</p>
            <img id="ipad" src="../images/projects/orgran/ipad.png" alt="{{'_ORGRAN_PROJECT_IMAGE_2_ALT_' | trans}}" data-aos="fade-left" data-aos-anchor=".responsive-showcase-section" data-aos-duration="500" data-aos-delay="700">
            <img id="iphone" src="../images/projects/orgran/iphone.png" alt="{{'_ORGRAN_PROJECT_IMAGE_3_ALT_' | trans}}" data-aos="fade-left" data-aos-anchor=".responsive-showcase-section" data-aos-duration="500" data-aos-delay="1000">
        </div>
    </section>
    <!-- about the technology -->
    <section class="about-technology-section">
        <div class="content-container-static">
            <h3 data-aos="fade-up">{{'_ABOUT_THE_TECHNOLOGY_' | trans}}</h3>
            <div class="technology-items-container" data-aos="zoom-in" data-aos-duration="600" data-aos-delay="300">
                <div class="it-item" id="joomla">Joomla</div> 
                <div class="it-item" id="rwd">RWD</div> 
                <div class="it-item" id="html5">HTML5</div>
                <div class="it-item" id="css3">CSS3</div>
                <div class="it-item" id="jquery">jQuery</div>
                <div class="it-item" id="js">JS</div>
                <div class="it-item" id="php7">php7</div>
            </div>
            <div class="both-clear"></div>
        </div>
    </section>
    <!-- overwiev -->
    <section class="overview-section">
        <div class="content-container-static">
            <h3 data-aos="fade-up">{{'_A_LOOK_@_THE_' | trans}}<br><span>{{'_WHOLE_' | trans}}</span></h3>
            <p class="main-paragraph" id="desc-paragraph" data-aos="fade-up">{{'_OVERVIEW_DESCRIPTION_ORGRAN_' | trans}}</p>
            <div class="both-clear"></div>
            <div class="overview-description">
                <div class="overview-left" data-aos="fade-right">
                    <h5 class="number-with-border">.01</h5>
                    <h6>{{'_MAIN_PAGE_' | trans}}<br><span>{{'_HOME_DIR' | trans}}</span></h6>
                </div>
                <div class="overview-right" data-aos="fade-left">
                    <img class="whole-site-image" src="../images/projects/orgran/site.jpg" alt="{{'_ORGRAN_PROJECT_IMAGE_4_ALT_' | trans}}">
                </div>
                <div class="both-clear"></div>
                <div class="overview-left" data-aos="fade-right">
                    <h5 class="number-with-border">.02</h5>
                    <h6>{{'_CATEGORY_' | trans}}<br><span>&amp; {{'_PRODUCT_PAGE_' | trans}}</span></h6>
                </div>
                <div class="overview-right">
                    <div class="cat-presentation">
                        <img src="../images/projects/orgran/prod1.jpg" alt="{{'_ORGRAN_PROJECT_IMAGE_5_ALT_' | trans}}strona Orgran" data-aos="fade-left" data-aos-anchor=".cat-presentation">
                        <img src="../images/projects/orgran/prod2.jpg" alt="{{'_ORGRAN_PROJECT_IMAGE_6_ALT_' | trans}}strona Orgran" data-aos="fade-left" data-aos-anchor=".cat-presentation" data-aos-delay="300">
                        <img src="../images/projects/orgran/prod3.jpg" alt="{{'_ORGRAN_PROJECT_IMAGE_7_ALT_' | trans}}strona Orgran" data-aos="fade-left" data-aos-anchor=".cat-presentation" data-aos-delay="600">
                        <img src="../images/projects/orgran/prod4.jpg" alt="{{'_ORGRAN_PROJECT_IMAGE_8_ALT_' | trans}}strona Orgran" data-aos="fade-left" data-aos-anchor=".cat-presentation" data-aos-delay="900">
                    </div>
                    <div class="both-clear"></div>
                </div>  
                <div class="both-clear"></div>
            </div>
            <div class="both-clear"></div>  
        </div>
    </section>
    <!-- our team -->
    <section class="our-crazy-team">
        <div class="content-container-static">
            <h3 data-aos="fade-up">{{'_OUR_CRAZY_TEAM_' | trans}}</h3>
            <div id="project-manager-container" data-aos="fade-down" data-aos-duration="500" data-aos-anchor=".our-crazy-team">
                <div class="single-person">
                    <img src="../images/persons/custom-shapes/kornelia.png" alt="Kornelia" class="person-default">
                    <img src="../images/persons/custom-shapes/projectmanagerhover.png" alt="Kornelia" class="person-hover">
                    <div class="person-desc">
                        <h6>.01</h6>
                        <p>KORNELIA<br><span>{{'_PROJECT_MANAGER_' | trans}}</span></p>
                    </div>
                </div>
            </div>
            <div id="ui-ux-container" data-aos="fade-down" data-aos-duration="500" data-aos-delay="200" data-aos-anchor=".our-crazy-team">
                <div class="single-person">
                    <img src="../images/persons/custom-shapes/iza.png" alt="Iza" class="person-default">
                    <img src="../images/persons/custom-shapes/uiuxhover.png" alt="Iza" class="person-hover">
                    <div class="person-desc">
                        <h6>.02</h6>
                        <p>IZA<br><span>{{'_UIUX_DESIGNER_' | trans}}</span></p>
                    </div>
                </div>
            </div>
            <div id="graphic-container" data-aos="fade-down" data-aos-duration="500" data-aos-delay="400" data-aos-anchor=".our-crazy-team">
                <div class="single-person">
                    <img src="../images/persons/custom-shapes/marta.png" alt="Marta" class="person-default">
                    <img src="../images/persons/custom-shapes/graphicdesignerhover.png" alt="Marta" class="person-hover">
                    <div class="person-desc">
                        <h6>.03</h6>
                        <p>MARTA<br><span>{{'_GRAPHIC_DESIGNER_' | trans}}</span></p>
                    </div>
                </div>
            </div>
            <div id="front-end-container" data-aos="fade-down" data-aos-duration="500" data-aos-delay="600" data-aos-anchor=".our-crazy-team">
                <div class="single-person">
                    <img src="../images/persons/custom-shapes/piotr.png" alt="Piotr" class="person-default">
                    <img src="../images/persons/custom-shapes/frontendhover.png" alt="Piotr" class="person-hover">
                    <div class="person-desc">
                        <h6>.04</h6>
                        <p>PIOTR<br><span>{{'_DEVELOPER_' | trans}}</span></p>
                    </div>
                </div>
            </div>
            <div id="back-end-container" data-aos="fade-down" data-aos-duration="500" data-aos-delay="800" data-aos-anchor=".our-crazy-team">
                <div class="single-person">
                    <img src="../images/persons/custom-shapes/michal.png" alt="Michał" class="person-default">
                    <img src="../images/persons/custom-shapes/developerhover.png" alt="Michał" class="person-hover">
                    <div class="person-desc">
                        <h6>.05</h6>
                        <p>MICHAŁ<br><span>{{'_DEVELOPER_' | trans}}</span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
            <!-- next/prev project -->
    <section class="next-prev-section">
        <div class="content-container-static">
            <a href="{{ path('ewpaproject') }}" id="prev-btn"><span></span><p>{{'_PREVIOUS_' | trans}}</p></a>
            <h6><a href="{{ path('projectslist') }}">{{'_SEE_ALL_PROJECTS_' | trans}}</a></h6>
            <a href="{{ path('powerbodyproject') }}" id="next-btn"><p>{{'_NEXT_' | trans}}</p><span></span></a>
        </div>
    </section>
</div>
<!-- animation on scroll scritp -->
<script src="../scripts/aos/aos.js"></script>
<script>
    AOS.init({
        easing: 'ease-out-back',
        once: true
    });
</script>
<script src="{{ asset('/scripts/Advox/scrollToSection.js') }}"></script>
{% endblock %}


