<div class="solutions-contact-container">
    <h2>{{'_SOLUTIONS_CONTACT_TITLE_' | trans}}</h2>
    <p>{{'_SOLUTIONS_CONTACT_PARAGRAPH_1_' | trans}}</p>
    <p>{{'_SOLUTIONS_CONTACT_PARAGRAPH_2_' | trans}}</p>
    <div class="contact-box">
        {{ include('solutions/forms/form.html.twig') }}
    </div>
    <div class="static-background-element solutions-element-1">
        <img src="/images/svg/joboffersvgs/seniorphpdeveloper/element_6_spd.svg" alt="{{'_PROJECTLIST_IMAGE_3_ALT_' | trans}}"/>
    </div>
    <div class="static-background-element solutions-element-2">
        <img src="/images/svg/parallaxElements/element_2.svg" alt="{{'_INDEX_IMAGE_13_ALT_' | trans}}"/>
    </div>
</div>
<div class="both-clear"></div>