{% extends 'layout/base.html.twig' %}
{% block title %}{{'_PHPFRAMEWORKSSERVICE_META_TITLE_' | trans | raw}}{% endblock %}
{% block keywords %}{{'_PHPFRAMEWORKSSERVICE_META_KEYWORDS_' | trans}}{% endblock %}
{% block description %}{{'_PHPFRAMEWORKSSERVICE_META_DESCRIPTION_' | trans}}{% endblock %}
{% block stylesheetsAppend %}
     <link href="{{ asset('scripts/fullpage/jquery.fullpage.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block javascriptsAppend %}
    <script src="{{ asset('scripts/fullpage/scrolloverflow.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('scripts/fullpage/jquery.fullpage.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('scripts/fullpage/jquery.easings.min.js') }}" type="text/javascript"></script>
{% endblock %}
{% block body %}
    <div id="fullpage">
        <div class="section phpframework-service-section-1-plasma-background" data-anchor="{{'_SZS_ANCHOR_LINK_1_' | trans}}">
            <div class="phpframework-service-container section-phpframework-service">
                <div class="content-container">
                    <div class="phpframework-service-section-1">
                        <div class="left-side-content" data-aos="fade-right" data-aos-duration="750" data-aos-delay="500">
                            <h1>{{'_SZS_S1_TITLE_HEADER_' | trans}}</h1>
                            <p>{{'_SZS_S1_PARAGRAPH1_' | trans}}</p>
                            <p></p>
                            <p>{{'_SZS_S1_PARAGRAPH2_' | trans}}</p>
                            <p>{{'_SZS_S1_PARAGRAPH3_' | trans}}</p>
                        </div>
                        <div class="right-side-content" data-aos="fade-left" data-aos-duration="750" data-aos-delay="500">
                            <img src="/images/services/phpframeworkservice/topslidemac.png" alt="{{'_FRAMEWORKS_SERVICE_IMAGE_1_ALT_' | trans}}"/>
                        </div>
                        <div class="both-clear"></div>
                            <div class="vertical-slider-anchors-box">
                                <a href="#{{'_SZS_ANCHOR_LINK_2_' | trans}}">{{'_SZS_ANCHOR_1' | trans}}</a>
                                <a href="#{{'_SZS_ANCHOR_LINK_6_' | trans}}">{{'_SZS_ANCHOR_2' | trans}}</a>
                            </div>
                    </div>
                </div>     
            </div>
                <div class="content-container-full infobox-symfony-zend">
                    <div class="infobox-services-container infobox-symfony-zend">
                    <div class="infobox-services infobox-symfony-zend">
                        <div class="infobox-slide">
                            <div class="infobox-slide-box">
                                <div class="infobox-top">
                                    <div class="icon-infobox">
                                        <img src="/images/services/phpframeworkservice/infoboximages/1.svg" alt="{{'_INFOBOX_IMAGE_ALT_' | trans}}">
                                    </div>
                                    <div class="content-infobox">
                                        <p>{{'_SZS_IB1_TEXT_1_' | trans}}</p>
                                    </div>
                                    <div class="both-clear"></div>
                                </div>
                                <div class="right-top-line-infobox symfonyzend-line-color"></div>
                            </div>
                        </div>
                        <div class="infobox-slide right-bottom-line-infobox">
                            <div class="infobox-slide-box">
                                <div class="infobox-top">
                                    <div class="icon-infobox">
                                        <img src="/images/services/phpframeworkservice/infoboximages/2.svg" alt="{{'_INFOBOX_IMAGE_ALT_' | trans}}">
                                    </div>
                                    <div class="content-infobox">
                                        <p>{{'_SZS_IB2_TEXT_1_' | trans}}</p>
                                    </div>
                                    <div class="both-clear"></div>
                                </div>
                                <div class="right-bottom-line-infobox symfonyzend-line-color"></div>
                            </div>
                        </div>
                        <div class="infobox-slide right-top-line-infobox">
                            <div class="infobox-slide-box">
                                <div class="infobox-top">
                                    <div class="icon-infobox">
                                        <img src="/images/services/phpframeworkservice/infoboximages/3.svg" alt="{{'_INFOBOX_IMAGE_ALT_' | trans}}">
                                    </div>
                                    <div class="content-infobox">
                                        <p>{{'_SZS_IB3_TEXT_1_' | trans}}</p>
                                    </div>
                                    <div class="both-clear"></div>
                                </div>
                                <div class="right-top-line-infobox symfonyzend-line-color"></div>
                            </div>
                        </div>
                        <div class="infobox-slide right-bottom-line-infobox">
                            <div class="infobox-slide-box">
                                <div class="infobox-top">
                                    <div class="icon-infobox">
                                        <img src="/images/services/phpframeworkservice/infoboximages/4.svg" alt="{{'_INFOBOX_IMAGE_ALT_' | trans}}">
                                    </div>
                                    <div class="content-infobox">
                                        <p>{{'_SZS_IB4_TEXT_1_' | trans}}</p>
                                    </div>
                                    <div class="both-clear"></div>
                                </div>
                                <div class="right-bottom-line-infobox symfonyzend-line-color"></div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
        </div>
        <div class="section section-phpframework-service" data-anchor="{{'_SZS_ANCHOR_LINK_2_' | trans}}">
            <div class="phpframework-service-container">
                <div class="content-container-static">
                    <div class="phpframework-service-section-2">

                        <div class="section-content-box">
                            <div class="left-side-content">
                                <div class="number-slide-title-phpframework">
                                    <p>.01</p>
                                </div>
                                <h2>{{'_SZS_S2_TITLE_HEADER_' | trans}}</h2>
                                <p>{{'_SZS_S2_PARAGRAPH1_' | trans}}</p>
                                <p>{{'_SZS_S2_PARAGRAPH2_' | trans}}</p>
                            </div>
                            <div class="right-side-content">
                                <div class="phpframework-service-technologies-background-1"></div>
                                <div class="phpframework-service-technologies-background-2"></div>
                            </div>
                        </div>
                        <div class="both-clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-phpframework-service" data-anchor="{{'_SZS_ANCHOR_LINK_3_' | trans}}">
            <div class="phpframework-service-container">
                <div class="content-container-static">
                    <div class="phpframework-service-section-3">
                        <div class="section-content-box">
                            <div class="left-side-content">
                                <div class="phpframework-section-3-image"></div>
                            </div>
                            <div class="right-side-content">
                                <div class="number-slide-title-phpframework">
                                    <p>.02</p>
                                </div>
                                <h2>{{'_SZS_S3_TITLE_HEADER_' | trans}}</h2>
                                <p>{{'_SZS_S3_PARAGRAPH1_' | trans | raw}}</p>
                            </div>
                            <div class="both-clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-phpframework-service" data-anchor="{{'_SZS_ANCHOR_LINK_4_' | trans}}">
            <div class="phpframework-service-container">
                <div class="content-container-static">
                    <div class="phpframework-service-section-4">
                        <div class="section-content-box">
                            <div class="left-side-content">
                                <div class="number-slide-title-phpframework">
                                    <p>.03</p>
                                </div>
                                <h2>{{'_SZS_S4_TITLE_HEADER_' | trans}}</h2>
                                <p>{{'_SZS_S4_PARAGRAPH1_' | trans | raw}}</p>
                            </div>
                            <div class="right-side-content">
                                <div class="phpframework-section-4-image"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="both-clear"></div>
        </div>
        <div class="section section-phpframework-service" data-anchor="{{'_SZS_ANCHOR_LINK_5_' | trans}}">
            <div class="phpframework-service-container">
                <div class="content-container-static">
                    <div class="phpframework-service-section-5">
                        <div class="section-content-box">
                            <div class="left-side-content">
                                <div class="phpframework-section-5-image"></div>
                            </div>
                            <div class="right-side-content">
                                <div class="number-slide-title-phpframework">
                                    <p>.04</p>
                                </div>
                                <h2>{{'_SZS_S5_TITLE_HEADER_' | trans}}</h2>
                                <p>{{'_SZS_S5_PARAGRAPH1_' | trans | raw}}</p>
                            </div>
                            <div class="both-clear"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="both-clear"></div>
        </div>
        <div class="section section-phpframework-service" data-anchor="{{'_SZS_ANCHOR_LINK_6_' | trans}}">
        <div class="phpframework-service-section-6">
            <div class="phpframework-service-container">
                <div class="big-content-container">

                    <div class="slide phpframework-service-ps-background-slider" data-slidename="ps">
                        <div class="content-container-static">
                            <div class="description-services-slides-box">
                                <p class="services-realization-title">{{'_SZS_REALIZATION_1_TITLE_1_' | trans}}</p>
                                <p class="services-realization-title"><span>{{'_SZS_REALIZATION_1_TITLE_2_' | trans}}</span></p>
                                <p class="services-realization-description">{{'_SZS_REALIZATION_1_PARAGRAPH_1_' | trans}}</p>
                                <div class="services-realization-links-box">
                                    <a href="{{ path('polishsoulsproject') }}">{{'_SEE_REALIZATION_' | trans}}</a>
                                    <a href="http://polishsouls.co.uk/" rel="nofollow">{{'_CHECK_WEBSITE_' | trans}}</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="slide phpframework-service-mmprime-background-slider" data-slidename="mmprime">
                        <div class="content-container-static">
                            <div class="description-services-slides-box">
                                <p class="services-realization-title">{{'_SZS_REALIZATION_2_TITLE_1_' | trans}}</p>
                                <p class="services-realization-title"><span>{{'_SZS_REALIZATION_2_TITLE_2_' | trans}}</span></p>
                                <p class="services-realization-description">{{'_SZS_REALIZATION_2_PARAGRAPH_1_' | trans}}</p>
                                <div class="services-realization-links-box">
                                    <a href="{{ path('mmprimeproject') }}">{{'_SEE_REALIZATION_' | trans}}</a>
                                    <a href="https://www.mmprimetfi.pl/" rel="nofollow">{{'_CHECK_WEBSITE_' | trans}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                                
                    <div class="slide phpframework-service-wmk-background-slider" data-slidename="museum">
                        <div class="content-container-static">
                            <div class="description-services-slides-box">
                                <p class="services-realization-title" style="color: #fff;">{{'_SZS_REALIZATION_3_TITLE_1_' | trans}}</p>
                                <p class="services-realization-title" style="color: #fff;"><span>{{'_SZS_REALIZATION_3_TITLE_2_' | trans}}</span></p>
                                <p class="services-realization-description" style="color: #fff;">{{'_SZS_REALIZATION_3_PARAGRAPH_1_' | trans}}</p>
                                <div class="services-realization-links-box">
                                    <a href="{{ path('kaliszmuseumproject') }}">{{'_SEE_REALIZATION_' | trans}}</a>
                                    <a href="http://www.wmf.kalisz.pl/" rel="nofollow">{{'_CHECK_WEBSITE_' | trans}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                                
                    <div class="content-container-static navigation-container">
                        <div class="next-prev-section project-slider-custom-nav">
                            <div class="content-container-static next-prev-service-pagination">
                                <a href="#0" id="prev-btn" class="slide-left-custom"><span></span><p>{{'_PREVIOUS_' | trans}}</p></a>
                                <div>
                                    <a class="custom-pagination-slide" data-slidename="ps" data-slideid="0">01</a>
                                    <a class="custom-pagination-slide" data-slidename="mmprime" data-slideid="1">02</a>
                                    <a class="custom-pagination-slide" data-slidename="museum" data-slideid="2">03</a>
                                </div>
                                <a href="#0" id="next-btn" class="slide-right-custom"><p>{{'_NEXT_' | trans}}</p><span></span></a>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
            <div class="both-clear"></div>
        </div>
        <div class="service-navigation-footer-mobile">
            <div class="footer-mobile-navigation-box">
                <a class="goDeeper"><p class="goDeeperParagraph">{{'_GO_DEEPER_' | trans}}</p><span class="arrow-godeeper-down"></span></a>
                <a class="goUp" href="#{{'_SZS_ANCHOR_LINK_1_' | trans}}"><p class="goUpParagraph">{{'_BACK_TO_THE_TOP_' | trans}}</p><span class="arrow-backtothetop-up"></span></a>
            </div>
        </div>
    </div>  
            <script>        
        var slideTimeout;
        $(document).ready(function () {

            $('#fullpage').fullpage({
                anchors: ['{{'_SZS_ANCHOR_LINK_1_' | trans}}', '{{'_SZS_ANCHOR_LINK_2_' | trans}}', '{{'_SZS_ANCHOR_LINK_3_' | trans}}', '{{'_SZS_ANCHOR_LINK_4_' | trans}}', '{{'_SZS_ANCHOR_LINK_5_' | trans}}', '{{'_SZS_ANCHOR_LINK_6_' | trans}}'],
                paddingBottom: '60px',
                navigation: true,
		navigationPosition: 'right',
                fixedElements: '#header,.service-navigation-footer-mobile',
                scrollOverflow: true,
                controlArrows: false,
                afterSlideLoad: function (anchorLink, index, slideAnchor, slideIndex) {
                    paginationHiglighting();
                },
                afterLoad: function (anchorLink, index) {

                    if (index === $('#fullpage .section').length) {
                        $('.goUp').show();
                        $('.goDeeper,.downArrowNavigation').hide();
                    }else{
                        $('.downArrowNavigation').show();
                    }

                    if (index == 1) {
                        $('.goUp,.upArrowNavigation').hide();
                        $('.goDeeper').show(); 
                    }else{
                        $('.upArrowNavigation').show();
                    }
                    
                    switch (index)
                    {
                        case 1:
                            darkPagination();
                        break;
                        case 2:
                            darkPagination();
                        break;
                        case 3:
                            darkPagination();
                        break;
                        case 4:
                            darkPagination();
                        break;
                        case 5:
                            whitePagination();
                            break;
                        case 6:
                            whitePagination();
                            break;
                    }
                    
                }
            });
            
            $("#fp-nav").prepend("<span class='upArrowNavigation'></span>");
            $("#fp-nav").append("<span class='downArrowNavigation'></span>");
            
            $('.upArrowNavigation').click(function () {
                $.fn.fullpage.moveSectionUp();
            });

            $('.goDeeper,.downArrowNavigation').click(function () {
                $.fn.fullpage.moveSectionDown();
            });
            
            paginationHiglighting();
        });
        
        function darkPagination() {
             $('#fp-nav ul li a span').css('background-color','rgba(60, 60, 61, 0.3) !important').css('transition','background-color 0.5s');
             $('#fp-nav ul li a.active span').css('background-color','rgba(60, 60, 61, 0.7) !important').css('transition','background-color 0.5s');
        }
        
        function whitePagination() {
            $('#fp-nav ul li a span').css('background-color','rgba(249, 249, 249, 0.3) !important').css('transition','background-color 0.5s');
            $('#fp-nav ul li a.active span').css('background-color','rgba(249, 249, 249, 0.7) !important').css('transition','background-color 0.5s');
        }

        function paginationHiglighting() {
            var dataSlideName = $(".fp-slide.fp-table.active").data('slidename');

            $('.custom-pagination-slide').css('color', 'black').css('font-size','13px');
            $('.custom-pagination-slide[data-slidename="' + dataSlideName + '"]').css('color', '#00a5db').css('font-size','19px');
        }

        $(".slide-left-custom").click(function () {
            $.fn.fullpage.moveSlideLeft();
            paginationHiglighting();
        });

        $(".slide-right-custom").click(function () {
            $.fn.fullpage.moveSlideRight();
            paginationHiglighting();
        });

        $(".custom-pagination-slide").click(function () {

            var dataSlideId = $(this).data('slideid');

            $.fn.fullpage.moveTo('{{'_SZS_ANCHOR_LINK_6_' | trans}}', dataSlideId);
            paginationHiglighting();
            
        });

            </script>
            
            <script>
        $('.infobox-services').slick(
                {
                    infinite: false,
                    autoplay: false,
                    dots: false,
                    arrows: true,
                    slidesToShow: 4,
                    slidesToScroll: 1,
                    responsive: [
                        {
                            breakpoint: 767,
                            settings: {
                                touchMove: true,
                                slidesToShow: 1,
                                slidesToScroll: 1,
                                autoplay: true,
                                arrows: false
                            }
                        },
                        {
                            breakpoint: 1219,
                            settings: {
                                touchMove: false,
                                slidesToShow: 2,
                                slidesToScroll: 1
                            }
                        },
                        {
                            breakpoint: 1600,
                            settings: {
                                touchMove: false,
                                slidesToShow: 4,
                                slidesToScroll: 1
                            }
                        },
                    ]
                });
    </script>
    
    <script src="../scripts/aos/aos.js"></script>
    <script>
        AOS.init({
            easing: 'ease-out-back',
            once: true
        });
    </script>

{% endblock %}


