{% extends 'layout/base.html.twig' %}
{% block title %}{{ '_PRIVACYPOLICY_META_TITLE_' | trans }}{% endblock %}
{% block body %}
    <div class="privacy-policy-container">
        <div class="content-container-static">
            <h2>{{'_PRIVACY_POLICY_' | trans}}</h2>
            <div class="privacy-policy-paragraphs-box">
                <div class="vertical-paragraph-box">
                        <p class="vertical-paragraph-big">{{'_PP_VERTICAL_TITLE_1_' | trans}}</p>
                </div>
            <p class="privacy-policy-paragraph-big">{{'_PP_PARAGRAPH_1_' | trans}}</p>
            <p class="privacy-policy-paragraph-big">{{'_PP_PARAGRAPH_2_' | trans}}</p>
            <p class="policy-title-paragraph">{{'_PP_TITLE_PARAGRAPH_1_' | trans}}</p>
            <p class="privacy-policy-paragraph-small">{{'_PP_PARAGRAPH_3_' | trans}}</p>
            <p class="policy-title-paragraph">{{'_PP_TITLE_PARAGRAPH_2_' | trans}}</p>
            <p class="privacy-policy-paragraph-small">{{'_PP_PARAGRAPH_4_' | trans}}</p>
            <p class="policy-title-paragraph">{{'_PP_TITLE_PARAGRAPH_3_' | trans}}</p>
            <p class="privacy-policy-paragraph-small">{{'_PP_PARAGRAPH_5_' | trans}}</p>
            <p class="policy-title-paragraph">{{'_PP_TITLE_PARAGRAPH_4_' | trans}}</p>
            <p class="privacy-policy-paragraph-small">{{'_PP_PARAGRAPH_6_' | trans | raw}}</p>
            </div>
            <div class="both-clear"></div>
                <div class="static-background-element personal-bio-element-1">
                    <img src="/images/svg/parallaxElements/element_8.svg" alt="{{'_PP_IMAGE_1_ALT_' | trans}}"/>
                </div>
                <div class="static-background-element personal-bio-element-2">
                    <img src="/images/svg/joboffersvgs/frontenddeveloper/element_1_fed.svg" alt="{{'_PP_IMAGE_2_ALT_' | trans}}"/>
                </div>
                <div class="static-background-element personal-bio-element-3">
                    <img src="/images/svg/parallaxElements/element_10.svg" alt="{{'_PP_IMAGE_3_ALT_' | trans}}"/>
                </div>
                <div class="static-background-element personal-bio-element-4">
                    <img src="/images/svg/joboffersvgs/seniorphpdeveloper/element_5_spd.svg" alt="{{'_PP_IMAGE_4_ALT_' | trans}}"/>
                </div>
                <div class="static-background-element personal-bio-element-5">
                    <img src="/images/svg/joboffersvgs/magentodeveloper/element_1_md.svg" alt="{{'_PP_IMAGE_5_ALT_' | trans}}"/>
                </div>
                <div class="static-background-element personal-bio-element-6">
                    <img src="/images/svg/joboffersvgs/seniorphpdeveloper/element_1_spd.svg" alt="{{'_PP_IMAGE_6_ALT_' | trans}}"/>
                </div>
                <div class="static-background-element personal-bio-element-7">
                    <img src="/images/svg/joboffersvgs/seniorphpdeveloper/element_3_spd.svg" alt="{{'_PP_IMAGE_7_ALT_' | trans}}"/>
                </div>
        </div>
    </div>
{% endblock %}


