{% extends 'layout/base.html.twig' %}
{% block title %}{{'_PROJECTBESTSPORT_META_TITLE_' | trans}}{% endblock %}
{% block keywords %}{{'_PROJECTBESTSPORT_META_KEYWORDS_' | trans}}{% endblock %}
{% block description %}{{'_PROJECTBESTSPORT_META_DESCRIPTION_' | trans}}{% endblock %}
{% block body %}
    <div id="bestsport" class="main-content-wrapper jsScrollToSection">
        <!-- section top  -->
        <section class="top-single-project-section">
            <div class="content-container-static">
                <h5 class="category-headers" data-aos="fade-right" data-aos-duration="500" data-aos-delay="300">e-comerce</h5>
                <h3 class="title-single-project" data-aos="fade-right" data-aos-duration="500" data-aos-delay="600">{{'_INFO_DESCRIPTION_SINGLE_PROJECT_BESP_' | trans | raw}}</h3>
                <div class="info-description-floats" data-aos="fade-right" data-aos-duration="500" data-aos-delay="900">
                    <div class="info-description-floats-left">
                        <h5 class="category-headers inf-url-scope">{{'_INFO_SINGLE_PROJECT_' | trans}}</h5>
                        <p class="main-paragraph">{{'_INFO_DESCRIPTION_SINGLE_PROJECT_BESP_1' | trans}}</p>
                    </div>
                    <div class="info-description-floats-right">
                        <div>
                            <h5 class="category-headers inf-url-scope">{{'_WEBSITE_SINGLE_PROJECT_' | trans}}:</h5>
                            <a href="http://www.bestsport.com.pl/" target="_blank">www.bestsport.com.pl</a>
                        </div>
                        <div>
                            <h5 class="category-headers inf-url-scope">{{'_SCOPE_SINGLE_PROJECT_' | trans}}:</h5>
                            <p class="main-paragraph">Development,Visual design, UX design</p>
                        </div>
                    </div>
                    <div class="info-description-floats-right platform-image-container">
                        <div>
                            <h5 class="category-headers inf-url-scope">{{'_PLATFORM_' | trans}}:</h5>
                            <div class="platform-image">
                                <img src="/images/svg/magento2.svg" alt="{{'_BESP_PROJECT_IMAGE_1_ALT_' | trans}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="both-clear"></div>
                <img data-aos-anchor=".top-single-project-section" data-aos="fade-left" data-aos-duration="500" data-aos-delay="1500" src="/images/projects/bestsport/iMac.png" id="bestsport-item-1" alt="{{'_BESP_PROJECT_IMAGE_2_ALT_' | trans}}">
                <img data-aos-anchor=".top-single-project-section" data-aos="fade-left" data-aos-duration="500" data-aos-delay="1500" src="/images/projects/bestsport/pasta1.png" id="bestsport-item-2" alt="{{'_BESP_PROJECT_IMAGE_3_ALT_' | trans}}">
                <img data-aos-anchor=".top-single-project-section" data-aos="fade-right" data-aos-duration="500" data-aos-delay="1500" src="/images/projects/bestsport/pasta2.png" id="bestsport-item-3" alt="{{'_BESP_PROJECT_IMAGE_4_ALT_' | trans}}">
                <img data-aos-anchor=".top-single-project-section" data-aos="fade-up" data-aos-duration="500" data-aos-delay="1200" src="/images/projects/bestsport/buty.png" id="bestsport-item-4" alt="{{'_BESP_PROJECT_IMAGE_5_ALT_' | trans}}">
            </div>
        </section>

        <!-- top second section -->
        <section class="top-second-section">
            <div class="content-container-static">
                <h3>{{'_INFO_DESCRIPTION_SINGLE_PROJECT_BESP_2' | trans}}</h3>
                <div id="tablet-bestsport-preview">
                    <img data-aos="fade-right" data-aos-duration="500" data-aos-delay="200" data-aos-anchor=".top-second-section" src="/images/projects/bestsport/smallimage1.png" alt="{{'_BESP_PROJECT_IMAGE_6_ALT_' | trans}}">
                    <img data-aos="fade-left" data-aos-duration="500" data-aos-delay="400" data-aos-anchor=".top-second-section" src="/images/projects/bestsport/smallimage2.png" alt="{{'_BESP_PROJECT_IMAGE_7_ALT_' | trans}}">
                    <img data-aos="fade-right" data-aos-duration="500" data-aos-delay="600" data-aos-anchor=".top-second-section" src="/images/projects/bestsport/smallimage3.png" alt="{{'_BESP_PROJECT_IMAGE_8_ALT_' | trans}}">
                    <img data-aos="fade-right" data-aos-duration="500" data-aos-delay="800" data-aos-anchor=".top-second-section" src="/images/projects/bestsport/smallimage4.png" alt="{{'_BESP_PROJECT_IMAGE_9_ALT_' | trans}}">
                    <img data-aos="fade-right" data-aos-duration="500" data-aos-delay="1000" data-aos-anchor=".top-second-section" src="/images/projects/bestsport/smallimage5.png" alt="{{'_BESP_PROJECT_IMAGE_10_ALT_' | trans}}">
                    <img data-aos="fade-right" data-aos-duration="500" data-aos-delay="1200" data-aos-anchor=".top-second-section" src="/images/projects/bestsport/smallimage6.png" alt="{{'_BESP_PROJECT_IMAGE_11_ALT_' | trans}}">
                </div>
            </div>
        </section>

        <!-- responsive showcase -->
        <section class="responsive-showcase-section">
            <div class="content-container-static">
                <h3 data-aos="fade-right" data-aos-anchor=".responsive-showcase-section" data-aos-duration="500">{{'_INFO_DESCRIPTION_SINGLE_PROJECT_BESP_3' | trans}}</h3>
                <p class="main-paragraph" data-aos="fade-right" data-aos-anchor=".responsive-showcase-section" data-aos-duration="500" data-aos-delay="500">{{'_INFO_DESCRIPTION_SINGLE_PROJECT_BESP_4' | trans | raw }}</p>
                <img id="bestsport-iphone" src="/images/projects/bestsport/iphone.png" alt="" data-aos="fade-left" data-aos-anchor=".responsive-showcase-section" data-aos-duration="500" data-aos-delay="700">
                <img id="bestsport-tablet" src="/images/projects/bestsport/tablet.png" alt="" data-aos="fade-left" data-aos-anchor=".responsive-showcase-section" data-aos-duration="500" data-aos-delay="500">
                <img id="bestsport-mac" src="/images/projects/bestsport/mac.png" alt="" data-aos="fade-left" data-aos-anchor=".responsive-showcase-section" data-aos-duration="500" data-aos-delay="300">
            </div>
        </section>

        <!-- about the technology -->
        <section class="about-technology-section">
            <div class="content-container-static">
                <h3 data-aos="fade-up">{{'_ABOUT_THE_TECHNOLOGY_' | trans}}</h3>
                <div class="technology-items-container" data-aos="zoom-in" data-aos-duration="600" data-aos-delay="300">
                    <div class="it-item" id="rwd">RWD</div>
                    <div class="it-item" id="html5">HTML5</div>
                    <div class="it-item" id="magento2">Magento 2</div>
                    <div class="it-item" id="jquery">jQuery</div>
                    <div class="it-item" id="js">JS</div>
                    <div class="it-item" id="axure">Axure</div>
                    <div class="it-item" id="mysql">MySql</div>
                    <div class="it-item" id="php7">php 7</div>
                </div>
                <div class="both-clear"></div>
            </div>
        </section>
        <!-- overwiev -->
        <section class="overview-section">
            <div class="content-container-static">
                <h3 data-aos="fade-up">{{'_A_LOOK_@_THE_' | trans}}<br><span>{{'_WHOLE_' | trans}}</span></h3>
                <p class="main-paragraph" id="desc-paragraph" data-aos="fade-up">{{'_OVERVIEW_DESCRIPTION_BESP' | trans}}</p>
                <div class="both-clear"></div>
                <div class="overview-description">
                    <div class="overview-left" data-aos="fade-right">
                        <h5 class="number-with-border">.01</h5>
                        <h6>{{'_MAIN_PAGE_' | trans}}<br><span>{{'_HOME_DIR' | trans}}</span></h6>
                    </div>
                    <div class="overview-right" data-aos="fade-left">
                        <img class="whole-site-image" src="/images/projects/bestsport/overview-1.png" alt="{{'_BESP_PROJECT_IMAGE_12_ALT_' | trans}}">
                    </div>
                    <div class="both-clear"></div>
                    <div class="overview-left" data-aos="fade-right">
                        <h5 class="number-with-border">.02</h5>
                        <h6>{{'_CATEGORY_' | trans}}<br><span>&amp; {{'_PRODUCT_PAGE_' | trans}}</span></h6>
                    </div>
                    <div class="overview-right">
                        <div class="cat-presentation">
                            <img src="/images/projects/bestsport/overview-2.png" alt="{{'_BESP_PROJECT_IMAGE_12_ALT_' | trans}}" data-aos="fade-left" data-aos-anchor=".cat-presentation">
                            <img src="/images/projects/bestsport/overview-3.png" alt="{{'_BESP_PROJECT_IMAGE_13_ALT_' | trans}}" data-aos="fade-left" data-aos-anchor=".cat-presentation" data-aos-delay="300">
                        </div>
                        <div class="both-clear"></div>
                    </div>
                    <div class="overview-left" data-aos="fade-right">
                        <h5 class="number-with-border">.03</h5>
                        <h6>{{'_MY_ACCOUNT_' | trans}}<br><span>&amp; {{'_INFORMATION_' | trans}}</span></h6>
                    </div>
                    <div class="overview-right">
                        <div class="cat-presentation">
                            <img src="/images/projects/bestsport/overview-4.png" alt="{{'_BESP_PROJECT_IMAGE_14_ALT_' | trans}}" data-aos="fade-left" data-aos-anchor=".cat-presentation">
                            <img src="/images/projects/bestsport/overview-5.png" alt="{{'_BESP_PROJECT_IMAGE_15_ALT_' | trans}}" data-aos="fade-left" data-aos-anchor=".cat-presentation" data-aos-delay="300">
                        </div>
                        <div class="both-clear"></div>
                    </div>
                    <div class="overview-left" data-aos="fade-right">
                        <h5 class="number-with-border">.04</h5>
                        <h6>{{'_CHECKOUT_' | trans}}</h6>
                    </div>
                    <div class="overview-right">
                        <div class="cat-presentation">
                            <img src="/images/projects/bestsport/overview-6.png" alt="{{'_BESP_PROJECT_IMAGE_16_ALT_' | trans}}" data-aos="fade-left" data-aos-anchor=".cat-presentation">
                            <img src="/images/projects/bestsport/overview-7.png" alt="{{'_BESP_PROJECT_IMAGE_17_ALT_' | trans}}" data-aos="fade-left" data-aos-anchor=".cat-presentation" data-aos-delay="300">
                        </div>
                        <div class="both-clear"></div>
                    </div>
                    <div class="overview-left" data-aos="fade-right">
                        <h5 class="number-with-border">.05</h5>
                        <h6>{{'_MAIL_TEMPLATES_' | trans}}<br><span>&amp; {{'_MINI_BASKET_' | trans}}</span></h6>
                    </div>
                    <div class="overview-right">
                        <div class="cat-presentation">
                            <img src="/images/projects/bestsport/overview-8.png" alt="{{'_BESP_PROJECT_IMAGE_18_ALT_' | trans}}" data-aos="fade-left" data-aos-anchor=".cat-presentation">
                            <img src="/images/projects/bestsport/overview-9.png" alt="{{'_BESP_PROJECT_IMAGE_19_ALT_' | trans}}" data-aos="fade-left" data-aos-anchor=".cat-presentation" data-aos-delay="300">
                        </div>
                        <div class="both-clear"></div>
                    </div>
                    <div class="both-clear"></div>
                </div>
                <div class="both-clear"></div>

            </div>
        </section>
        <!-- our team -->
        <section class="our-crazy-team">
            <div class="content-container-static">
                <h3 data-aos="fade-up">{{'_OUR_CRAZY_TEAM_' | trans}}</h3>

                <div id="project-manager-container" data-aos="fade-down" data-aos-duration="500" data-aos-anchor=".our-crazy-team">
                    <div class="single-person">
                        <img src="/images/persons/custom-shapes/michalprojectmanager.png" alt="Michał" class="person-default">
                        <img src="/images/persons/custom-shapes/projectmanagerhover.png" alt="Michał" class="person-hover">
                        <div class="person-desc">
                            <h6>.01</h6>
                            <p>MICHAŁ<br><span>{{'_PROJECT_MANAGER_' | trans}}</span></p>
                        </div>
                    </div>
                </div>

                <div id="ui-ux-container" data-aos="fade-down" data-aos-duration="500" data-aos-delay="200" data-aos-anchor=".our-crazy-team">
                    <div class="single-person">
                        <img src="/images/persons/custom-shapes/izauxkolor.png" alt="Iza" class="person-default">
                        <img src="/images/persons/custom-shapes/uiuxhover.png" alt="Iza" class="person-hover">
                        <div class="person-desc">
                            <h6>.02</h6>
                            <p>IZA<br><span>{{'_DEVELOPER_' | trans}}</span></p>
                        </div>
                    </div>
                </div>

                <div id="front-end-container" data-aos="fade-down" data-aos-duration="500" data-aos-delay="200" data-aos-anchor=".our-crazy-team">
                    <div class="single-person">
                        <img src="/images/persons/custom-shapes/alicjadeveloper.png" alt="Alicja" class="person-default">
                        <img src="/images/persons/custom-shapes/graphicdesignerhover.png" alt="Alicja" class="person-hover">
                        <div class="person-desc">
                            <h6>.03</h6>
                            <p>ALICJA<br><span>{{'_DEVELOPER_' | trans}}</span></p>
                        </div>
                    </div>
                </div>

                <div id="back-end-container" data-aos="fade-down" data-aos-duration="500" data-aos-delay="200" data-aos-anchor=".our-crazy-team">
                    <div class="single-person">
                        <img src="/images/persons/custom-shapes/piotrdeveloper2.png" alt="Piotr" class="person-default">
                        <img src="/images/persons/custom-shapes/frontendhover.png" alt="Piotr" class="person-hover">
                        <div class="person-desc">
                            <h6>.04</h6>
                            <p>PIOTR<br><span>{{'_DEVELOPER_' | trans}}</span></p>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- next/prev project -->
        <section class="next-prev-section">
            <div class="content-container-static">
                <a href="{{ path('kaliszmuseumproject') }}" id="prev-btn"><span></span><p>{{'_PREVIOUS_' | trans}}</p></a>
                <h6><a href="{{ path('projectslist') }}">{{'_SEE_ALL_PROJECTS_' | trans}}</a></h6>
                <a href="{{ path('ewpaproject') }}" id="next-btn"><p>{{'_NEXT_' | trans}}</p><span></span></a>
            </div>
        </section>
    </div>
    <!-- animation on scroll scritp -->
    <script src="/scripts/aos/aos.js"></script>
    <script>
        AOS.init({
            easing: 'ease-out-back',
            once: true
        });
    </script>
    <script src="{{ asset('/scripts/Advox/scrollToSection.js') }}"></script>
{% endblock %}

