{% extends 'layout/base.html.twig' %}
{% block title %}{{'_PROJECTCLOCKSHOP_META_TITLE_' | trans}}{% endblock %}
{% block keywords %}{{'_PROJECTCLOCKSHOP_META_KEYWORDS_' | trans}}{% endblock %}
{% block description %}{{'_PROJECTCLOCKSHOP_META_DESCRIPTION_' | trans}}{% endblock %}
{% block body %}
    <div id="clockshop" class="main-content-wrapper jsScrollToSection">
        <!-- section top  -->
        <section class="top-single-project-section">
            <div class="content-container-static">
                <h5 class="category-headers" data-aos="fade-right" data-aos-duration="500" data-aos-delay="300">{{'_PROJECT_HEADER_CATEGORY_MAIN_' | trans}}</h5>
                <h3 class="title-single-project" data-aos="fade-right" data-aos-duration="500" data-aos-delay="600">{{'_CLOCKSHOP_PROJECT_MAIN_TITLE_' | trans}}</h3>
                <div class="info-description-floats" data-aos="fade-right" data-aos-duration="500" data-aos-delay="900">
                    <div class="info-description-floats-left">
                        <h5 class="category-headers inf-url-scope">{{'_INFO_SINGLE_PROJECT_' | trans}}</h5>
                        <p class="main-paragraph">{{'_INFO_DESCRIPTION_SINGLE_PROJECT_CLOCKSHOP_' | trans}}</p>
                    </div>
                    <div class="info-description-floats-right">
                        <div>
                            <h5 class="category-headers inf-url-scope">{{'_WEBSITE_SINGLE_PROJECT_' | trans}}:</h5>
                            <a href="https://www.sklepzzegarkami.pl" target="_blank" rel="nofollow">sklepzzegarkami.pl</a>
                        </div>
                        <div>
                            <h5 class="category-headers inf-url-scope">{{'_SCOPE_SINGLE_PROJECT_' | trans}}:</h5>
                            <p class="main-paragraph category-paragraph">Visual design, UX design, Development</p>
                        </div>
                    </div>
                    <div class="info-description-floats-right platform-image-container">
                        <div>
                            <h5 class="category-headers inf-url-scope">{{'_PLATFORM_' | trans}}:</h5>
                            <div class="platform-image">
                                <img src="{{ asset('/images/svg/wordpress_project_view.svg') }}" alt="{{'_CLOCKSHOP_PROJECT_IMAGE_0_ALT_' | trans}}"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="both-clear"></div>
                <img data-aos="fade-left" data-aos-duration="500" data-aos-delay="1300" src="{{ asset('/images/projects/clockshop/backgroundClock.png') }}" id="clockshop-clock" alt="{{'_CLOCKSHOP_PROJECT_IMAGE_1_ALT_' | trans}}">
                <img data-aos="fade-left" data-aos-duration="500" data-aos-delay="1500" src="{{ asset('/images/projects/clockshop/siteBackground1.png') }}" id="clockshop-siteBackground-1" alt="{{'_CLOCKSHOP_PROJECT_IMAGE_2_ALT_' | trans}}">
                <img data-aos="fade-left" data-aos-duration="500" data-aos-delay="1700" src="{{ asset('/images/projects/clockshop/siteBackground2.png') }}" id="clockshop-siteBackground-2" alt="{{'_CLOCKSHOP_PROJECT_IMAGE_3_ALT_' | trans}}">
            </div>
        </section>
        <!-- top second section -->
        <section class="top-second-section">
            <div class="content-container-static">
                <h3>{{'_WE_MADE_CHANGES_' | trans}}</h3>
                <div id="new-old">
                    <img data-aos="fade-right" data-aos-duration="500" src="{{ asset('/images/projects/clockshop/iMac2.png') }}" alt="{{'_CLOCKSHOP_PROJECT_IMAGE_4_ALT_' | trans}}">
                    <img data-aos="fade-left" data-aos-duration="500" data-aos-delay="300" src="{{ asset('/images/projects/ittouclockshopch/oldComputer.png') }}" alt="{{'_CLOCKSHOP_PROJECT_IMAGE_5_ALT_' | trans}}">
                    <p id="newvsold">{{'_NEW_VS_OLD_' | trans}}</p>
                    <div id="ittouch-blueline" data-aos="fade-left" data-aos-duration="3500" data-aos-delay="300"></div>
                </div>
                <div class="both-clear"></div>
            </div>
        </section>
        <!-- responsive showcase -->
        <section class="responsive-showcase-section">
            <div class="content-container-static">
                <h3 data-aos="fade-right" data-aos-anchor=".responsive-showcase-section" data-aos-duration="500"><span>{{'_ATTENTION_' | trans}}</span><br>{{'_TO_DETAILS_' | trans}}</h3>
                <p class="main-paragraph" data-aos="fade-right" data-aos-anchor=".responsive-showcase-section" data-aos-duration="500" data-aos-delay="500">{{'_RESPONSIVE_SHOWCASE_DESCRIPTION_ITTOUCH_' | trans}}</p>
                <img id="left-card-1" src="{{ asset('/images/projects/ittouch/tabletHand.png') }}" alt="{{'_ITTOUCH_PROJECT_IMAGE_8_ALT_' | trans}}" data-aos="fade-left" data-aos-anchor=".responsive-showcase-section" data-aos-duration="500" data-aos-delay="700">
                <img id="left-card-2" src="{{ asset('/images/projects/ittouch/tabletIcon1.png') }}" alt="{{'_ITTOUCH_PROJECT_IMAGE_9_ALT_' | trans}}" data-aos="fade-left" data-aos-anchor=".responsive-showcase-section" data-aos-duration="500" data-aos-delay="800">
                <img id="left-card-3" src="{{ asset('/images/projects/ittouch/tabletIcon2.png') }}" alt="{{'_ITTOUCH_PROJECT_IMAGE_10_ALT_' | trans}}" data-aos="fade-left" data-aos-anchor=".responsive-showcase-section" data-aos-duration="500" data-aos-delay="900">
                <img id="left-card-4" src="{{ asset('/images/projects/ittouch/tabletIcon3.png') }}" alt="{{'_ITTOUCH_PROJECT_IMAGE_11_ALT_' | trans}}" data-aos="fade-left" data-aos-anchor=".responsive-showcase-section" data-aos-duration="500" data-aos-delay="900">
                <img id="left-card-5" src="{{ asset('/images/projects/ittouch/tabletIcon4.png') }}" alt="{{'_ITTOUCH_PROJECT_IMAGE_12_ALT_' | trans}}" data-aos="fade-left" data-aos-anchor=".responsive-showcase-section" data-aos-duration="500" data-aos-delay="900">
            </div>
        </section>
        <!-- about the technology -->
        <section class="about-technology-section">
            <div class="content-container-static">
                <h3 data-aos="fade-up">{{'_ABOUT_THE_TECHNOLOGY_' | trans}}</h3>
                <div class="technology-items-container" data-aos="zoom-in" data-aos-duration="600" data-aos-delay="300">
                    <div class="it-item" id="rwd">Rwd</div> 
                    <div class="it-item" id="php7">php7</div>
                    <div class="it-item" id="jquery">jQuery</div>
                    <div class="it-item" id="js">JS</div>
                    <div class="it-item" id="mysql">MySql</div>
                    <div class="it-item" id="html5">HTML5</div>
                    <div class="it-item" id="css3">CSS3</div>
                </div>
                <div class="both-clear"></div>
            </div>
        </section>
        <!-- overwiev -->
        <section class="overview-section">
            <div class="content-container-static">
                <h3 data-aos="fade-up">{{'_A_LOOK_@_THE_' | trans}}<br><span>{{'_WHOLE_' | trans}}</span></h3>
                <p class="main-paragraph" id="desc-paragraph" data-aos="fade-up">{{'_OVERVIEW_DESCRIPTION_ITTOUCH_' | trans}}</p>
                <div class="both-clear"></div>

                <div class="overview-description">
                    <div class="overview-left" data-aos="fade-right">
                        <h5 class="number-with-border">.01</h5>
                        <h6>{{'_MAIN_PAGE_' | trans}}<br><span>{{'_HOME_DIR' | trans}}</span></h6>
                    </div>
                    <div class="overview-right" data-aos="fade-left">
                        <img class="whole-site-image" src="{{ asset('/images/projects/clockshop/overview-1.png') }}" alt="{{'_ITTOUCH_PROJECT_IMAGE_13_ALT_' | trans}}">
                    </div>
                    <div class="both-clear"></div>

                    <div class="overview-left" data-aos="fade-right">
                        <h5 class="number-with-border">.02</h5>
                        <h6>{{'_CATEGORY_' | trans}}<br><span>&amp; {{'_PRODUCT_PAGE_' | trans}}</span></h6>
                    </div>
                    <div class="overview-right">
                        <div class="cat-presentation">
                            <img src="{{ asset('/images/projects/clockshop/overview-2.png') }}" alt="{{'_ITTOUCH_PROJECT_IMAGE_14_ALT_' | trans}}" data-aos="fade-left" data-aos-anchor=".cat-presentation">
                            <img src="{{ asset('/images/projects/clockshop/overview-3.png') }}" alt="{{'_ITTOUCH_PROJECT_IMAGE_15_ALT_' | trans}}" data-aos="fade-left" data-aos-anchor=".cat-presentation" data-aos-delay="300">
                        </div>
                        <div class="both-clear"></div>
                    </div>

                    <div class="overview-left" data-aos="fade-right">
                        <h5 class="number-with-border">.03</h5>
                        <h6>{{'_CATEGORY_' | trans}}<br><span>&amp; {{'_PRODUCT_PAGE_' | trans}}</span></h6>
                    </div>
                    <div class="overview-right">
                        <div class="cat-presentation">
                            <img src="{{ asset('/images/projects/clockshop/overview-4.png') }}" alt="{{'_ITTOUCH_PROJECT_IMAGE_16_ALT_' | trans}}" data-aos="fade-left" data-aos-anchor=".cat-presentation">
                            <img src="{{ asset('/images/projects/clockshop/overview-5.png') }}" alt="{{'_ITTOUCH_PROJECT_IMAGE_17_ALT_' | trans}}" data-aos="fade-left" data-aos-anchor=".cat-presentation" data-aos-delay="300">
                        </div>
                        <div class="both-clear"></div>
                    </div>            
                        
                </div>
                <div class="both-clear"></div>  
            </div>
        </section>
        <!-- our team -->
        <section class="our-crazy-team">
            <div class="content-container-static">
                <h3 data-aos="fade-up">{{'_OUR_CRAZY_TEAM_' | trans}}</h3>
                <div id="project-manager-container" data-aos="fade-down" data-aos-duration="500" data-aos-anchor=".our-crazy-team">
                    <div class="single-person">
                        <img src="{{ asset('/images/persons/custom-shapes/armandkolor.png') }}" alt="Armand" class="person-default">
                        <img src="{{ asset('/images/persons/custom-shapes/projectmanagerhover.png') }}" alt="Armand" class="person-hover">
                        <div class="person-desc">
                            <h6>.01</h6>
                            <p>ARMAND<br><span>{{'_PROJECT_MANAGER_' | trans}}</span></p>
                        </div>
                    </div>
                </div>
                <div id="ui-ux-container" data-aos="fade-down" data-aos-duration="500" data-aos-delay="200" data-aos-anchor=".our-crazy-team">
                    <div class="single-person">
                        <img src="{{ asset('/images/persons/custom-shapes/izauxkolor.png') }}" alt="Iza" class="person-default">
                        <img src="{{ asset('/images/persons/custom-shapes/uiuxhover.png') }}" alt="Iza" class="person-hover">
                        <div class="person-desc">
                            <h6>.02</h6>
                            <p>IZA<br><span>{{'_UIUX_DESIGNER_' | trans}}</span></p>
                        </div>
                    </div>
                </div>
                <div id="graphic-container" data-aos="fade-down" data-aos-duration="500" data-aos-delay="400" data-aos-anchor=".our-crazy-team">
                    <div class="single-person">
                        <img src="{{ asset('/images/persons/custom-shapes/marcindeveloper.png') }}" alt="Marcin" class="person-default">
                        <img src="{{ asset('/images/persons/custom-shapes/graphicdesignerhover.png') }}" alt="Marcin" class="person-hover">
                        <div class="person-desc">
                            <h6>.03</h6>
                            <p>MARCIN<br><span>{{'_DEVELOPER_' | trans}}</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- next/prev project -->
        <section class="next-prev-section">
            <div class="content-container-static">
                <a href="{{ path('easybathroomsproject') }}" id="prev-btn"><span></span><p>{{'_PREVIOUS_' | trans}}</p></a>
                <h6><a href="{{ path('projectslist') }}">{{'_SEE_ALL_PROJECTS_' | trans}}</a></h6>
                <a href="{{ path('orgranproject') }}" id="next-btn"><p>{{'_NEXT_' | trans}}</p><span></span></a>
            </div>
        </section>
    </div>
    <!-- animation on scroll scritp -->
    <script src="{{ asset('/scripts/aos/aos.js') }}"></script>
    <script>
        AOS.init({
            easing: 'ease-out-back',
            once: true
        });
    </script>
    <script src="{{ asset('/scripts/Advox/scrollToSection.js') }}"></script>
{% endblock %}


