{% extends 'layout/base.html.twig' %}
{% block title %}{{'_PROJECTEASYBATHROOMS_META_TITLE_' | trans}}{% endblock %}
{% block keywords %}{{'_PROJECTEASYBATHROOMS_META_KEYWORDS_' | trans}}{% endblock %}
{% block description %}{{'_PROJECTEASYBATHROOMS_META_DESCRIPTION_' | trans}}{% endblock %}
{% block body %}
    <div id="easybathrooms" class="main-content-wrapper jsScrollToSection">
        <!-- section top  -->
        <section class="top-single-project-section">
            <div class="content-container-static">
                <h5 class="category-headers" data-aos="fade-right" data-aos-duration="500" data-aos-delay="300">e-comerce</h5>
                <h3 class="title-single-project" data-aos="fade-right" data-aos-duration="500" data-aos-delay="600">{{'_INFO_DESCRIPTION_SINGLE_PROJECT_EB_' | trans}}</h3>
                <div class="info-description-floats" data-aos="fade-right" data-aos-duration="500" data-aos-delay="900">
                    <div class="info-description-floats-left">
                        <h5 class="category-headers inf-url-scope">{{'_INFO_SINGLE_PROJECT_' | trans}}</h5>
                        <p class="main-paragraph">{{'_INFO_DESCRIPTION_SINGLE_PROJECT_EB_5' | trans}}</p>
                    </div>
                    <div class="info-description-floats-right">
                        <div>
                            <h5 class="category-headers inf-url-scope">{{'_WEBSITE_SINGLE_PROJECT_' | trans}}:</h5>
                            <a href="http://easybathrooms.com" target="_blank">easybathrooms.com</a>
                        </div>
                        <div>
                            <h5 class="category-headers inf-url-scope">{{'_SCOPE_SINGLE_PROJECT_' | trans}}:</h5>
                            <p class="main-paragraph">Development</p>
                        </div>
                    </div>
                    <div class="info-description-floats-right platform-image-container">
                        <div>
                            <h5 class="category-headers inf-url-scope">{{'_PLATFORM_' | trans}}:</h5>
                            <div class="platform-image">
                                <img src="/images/projects/easybathrooms/magento_project_view.svg" alt="{{'_EB_PROJECT_IMAGE_1_ALT_' | trans}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="both-clear"></div>
                <img data-aos-anchor=".top-single-project-section" data-aos="fade-left" data-aos-duration="500" data-aos-delay="1500" src="/images/projects/easybathrooms/bath-item-1.png" id="easy-item-1" alt="{{'_EB_PROJECT_IMAGE_2_ALT_' | trans}}">
                <img data-aos-anchor=".top-single-project-section" data-aos="fade-left" data-aos-duration="500" data-aos-delay="1500" src="/images/projects/easybathrooms/bath-item-2.png" id="easy-item-2" alt="{{'_EB_PROJECT_IMAGE_3_ALT_' | trans}}">
                <img data-aos-anchor=".top-single-project-section" data-aos="fade-right" data-aos-duration="500" data-aos-delay="1500" src="/images/projects/easybathrooms/elements.png" id="easy-item-3" alt="{{'_EB_PROJECT_IMAGE_4_ALT_' | trans}}">
                <img data-aos-anchor=".top-single-project-section" data-aos="fade-up" data-aos-duration="500" data-aos-delay="1200" src="/images/projects/easybathrooms/comp-easy.png" id="easy-laptop" alt="{{'_EB_PROJECT_IMAGE_5_ALT_' | trans}}">
            </div>
        </section>

        <!-- top second section -->
        <section class="top-second-section">
            <div class="content-container-static">
                <h3>{{'_INFO_DESCRIPTION_SINGLE_PROJECT_EB_2' | trans}}</h3>
                <div id="tablet-easybathroom-preview">
                    <img data-aos="fade-right" data-aos-duration="500" data-aos-delay="700" data-aos-anchor=".top-second-section" src="/images/projects/easybathrooms/plants.png" alt="{{'_EB_PROJECT_IMAGE_6_ALT_' | trans}}">
                    <img data-aos="fade-left" data-aos-duration="500" data-aos-delay="500" data-aos-anchor=".top-second-section" src="/images/projects/easybathrooms/tablet-bath.png" alt="{{'_EB_PROJECT_IMAGE_7_ALT_' | trans}}">
                    <img data-aos="fade-right" data-aos-duration="500" data-aos-delay="500" data-aos-anchor=".top-second-section" src="/images/projects/easybathrooms/tablet-zoom.png" alt="{{'_EB_PROJECT_IMAGE_8_ALT_' | trans}}">
                </div>
            </div>
        </section>

        <!-- responsive showcase -->
        <section class="responsive-showcase-section">
            <div class="content-container-static">
                <h3 data-aos="fade-right" data-aos-anchor=".responsive-showcase-section" data-aos-duration="500">{{'_INFO_DESCRIPTION_SINGLE_PROJECT_EB_3' | trans | raw}}</h3>
                <p class="main-paragraph" data-aos="fade-right" data-aos-anchor=".responsive-showcase-section" data-aos-duration="500" data-aos-delay="500">{{'_INFO_DESCRIPTION_SINGLE_PROJECT_EB_4' | trans | raw }}</p>
                <img id="easy-ipad-1" src="/images/projects/easybathrooms/ipad2.png" alt="{{'_EB_PROJECT_IMAGE_9_ALT_' | trans}}" data-aos="fade-left" data-aos-anchor=".responsive-showcase-section" data-aos-duration="500" data-aos-delay="900">
                <img id="easy-ipad-2" src="/images/projects/easybathrooms/ipad1.png" alt="{{'_EB_PROJECT_IMAGE_10_ALT_' | trans}}" data-aos="fade-left" data-aos-anchor=".responsive-showcase-section" data-aos-duration="500" data-aos-delay="500">
            </div>
        </section>

        <!-- about the technology -->
        <section class="about-technology-section">
            <div class="content-container-static">
                <h3 data-aos="fade-up">{{'_ABOUT_THE_TECHNOLOGY_' | trans}}</h3>
                <div class="technology-items-container" data-aos="zoom-in" data-aos-duration="600" data-aos-delay="300">
                    <div class="it-item" id="rwd">RWD</div>
                    <div class="it-item" id="html5">HTML5</div>
                    <div class="it-item" id="jquery">jQuery</div>
                    <div class="it-item" id="js">JS</div>
                    <div class="it-item" id="magento">magento</div>
                    <div class="it-item" id="php7">php 5 6</div>
                </div>
                <div class="both-clear"></div>
            </div>
        </section>
        <!-- overwiev -->
        <section class="overview-section">
            <div class="content-container-static">
                <h3 data-aos="fade-up">{{'_A_LOOK_@_THE_' | trans}}<br><span>{{'_WHOLE_' | trans}}</span></h3>
                <p class="main-paragraph" id="desc-paragraph" data-aos="fade-up">{{'_OVERVIEW_DESCRIPTION_EB' | trans}}</p>
                <div class="both-clear"></div>
                <div class="overview-description">
                    <div class="overview-left" data-aos="fade-right">
                        <h5 class="number-with-border">.01</h5>
                        <h6>{{'_MAIN_PAGE_' | trans}}<br><span>{{'_HOME_DIR' | trans}}</span></h6>
                    </div>
                    <div class="overview-right" data-aos="fade-left">
                        <img class="whole-site-image" src="/images/projects/easybathrooms/overview-1.png" alt="strona easybathrooms">
                    </div>
                    <div class="both-clear"></div>
                    <div class="overview-left" data-aos="fade-right">
                        <h5 class="number-with-border">.02</h5>
                        <h6>{{'_CATEGORY_' | trans}}<br><span>&amp; {{'_PRODUCT_PAGE_' | trans}}</span></h6>
                    </div>
                    <div class="overview-right">
                        <div class="cat-presentation">
                            <img src="/images/projects/easybathrooms/overview-2.png" alt="{{'_EB_PROJECT_IMAGE_11_ALT_' | trans}}" data-aos="fade-left" data-aos-anchor=".cat-presentation">
                            <img src="/images/projects/easybathrooms/overview-3.png" alt="{{'_EB_PROJECT_IMAGE_12_ALT_' | trans}}" data-aos="fade-left" data-aos-anchor=".cat-presentation" data-aos-delay="300">
                            <img src="/images/projects/easybathrooms/overview-4.png" alt="{{'_EB_PROJECT_IMAGE_13_ALT_' | trans}}" data-aos="fade-left" data-aos-anchor=".cat-presentation" data-aos-delay="600">
                            <img src="/images/projects/easybathrooms/overview-5.png" alt="{{'_EB_PROJECT_IMAGE_14_ALT_' | trans}}" data-aos="fade-left" data-aos-anchor=".cat-presentation" data-aos-delay="900">
                        </div>
                        <div class="both-clear"></div>
                    </div>
                    <div class="both-clear"></div>
                </div>
                <div class="both-clear"></div>

            </div>
        </section>
        <!-- our team -->
        <section class="our-crazy-team">
            <div class="content-container-static">
                <h3 data-aos="fade-up">{{'_OUR_CRAZY_TEAM_' | trans}}</h3>
                <div id="project-manager-container" data-aos="fade-down" data-aos-duration="500" data-aos-anchor=".our-crazy-team">
                    <div class="single-person">
                        <img src="/images/projects/easybathrooms/sebastian-PM.png" alt="Sebastian" class="person-default">
                        <img src="/images/persons/custom-shapes/projectmanagerhover.png" alt="Sebastian" class="person-hover">
                        <div class="person-desc">
                            <h6>.01</h6>
                            <p>SEBASTIAN<br><span>{{'_PROJECT_MANAGER_' | trans}}</span></p>
                        </div>
                    </div>
                </div>

                <div id="ui-ux-container" data-aos="fade-down" data-aos-duration="500" data-aos-delay="200" data-aos-anchor=".our-crazy-team">
                    <div class="single-person">
                        <img src="/images/projects/easybathrooms/michal-dev.png" alt="Michał" class="person-default">
                        <img src="/images/persons/custom-shapes/uiuxhover.png" alt="Michał" class="person-hover">
                        <div class="person-desc">
                            <h6>.02</h6>
                            <p>MICHAŁ<br><span>{{'_DEVELOPER_' | trans}}</span></p>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- next/prev project -->
        <section class="next-prev-section">
            <div class="content-container-static">
                <a href="{{ path('kaliszmuseumproject') }}" id="prev-btn"><span></span><p>{{'_PREVIOUS_' | trans}}</p></a>
                <h6><a href="{{ path('projectslist') }}">{{'_SEE_ALL_PROJECTS_' | trans}}</a></h6>
                <a href="{{ path('ewpaproject') }}" id="next-btn"><p>{{'_NEXT_' | trans}}</p><span></span></a>
            </div>
        </section>
    </div>
    <!-- animation on scroll scritp -->
    <script src="/scripts/aos/aos.js"></script>
    <script>
        AOS.init({
            easing: 'ease-out-back',
            once: true
        });
    </script>
    <script src="{{ asset('/scripts/Advox/scrollToSection.js') }}"></script>
{% endblock %}


